header{
    display: flex;
    align-items: center;
    background-color: #082029;
    padding: 15px 20px 15px 50px;
    gap: 10px;
    margin-bottom: 40px;
}


font{
    color: #f36054;
}


.headline-logo{
    height: 60px;
}


@media(max-width: 600px){
    header{
        display: flex;
        flex-direction: column;
    }

    header h1{
        margin-bottom: 0;
        margin-top: 0;
    }

    header h2{
        padding: 0;
        margin-top: 0;
    }

        header span{
        display: none;
    }

    .headline-logo{
        height: 80px;
        margin-bottom: 0;
    }
}
